Repository c4deszes/jmeasure, changes with the labels that .github/labeler.yml gives for each.
All labels: enhancement/core, enhancement/driver, enhancement/cli, samples

.github/labeler.yml:

enhancement/core:
  - measure-core/**/*

enhancement/driver:
  - measure-driver-*/**/*

enhancement/cli:
  - measure-cli/**/*

samples:
  - measure-samples/**/*

Core changes Improved documentation Moved samplers into extension library Added SCPI adapter classes (Tracing and Filter utility)
  measure-core/src/main/java/org/jmeasure/core/Units.java
  measure-core/src/main/java/org/jmeasure/core/device/WaveformGenerator.java
  measure-core/src/main/java/org/jmeasure/core/device/configuration/ClockSource.java
  measure-core/src/main/java/org/jmeasure/core/signal/analog/AnalogInverter.java
  measure-core/src/main/java/org/jmeasure/core/signal/analog/ClippingSampler.java
  measure-core/src/main/java/org/jmeasure/core/signal/analog/Sine.java
  measure-core/src/main/java/org/jmeasure/core/signal/digital/BinaryInverter.java
  measure-core/src/main/java/org/jmeasure/core/signal/digital/BinaryToAnalog.java
  measure-core/src/main/java/org/jmeasure/core/signal/digital/SchmittTrigger.java
  measure-core/src/main/java/org/jmeasure/core/signal/digital/Threshold.java
  measure-core/src/main/java/org/jmeasure/core/signal/digital/Wiegand.java
  measure-core/src/main/java/org/jmeasure/core/util/EnumParameters.java
  measure-core/src/main/java/org/jmeasure/lxi/DeviceIdentifier.java
  measure-core/src/main/java/org/jmeasure/lxi/SCPI.java
  measure-core/src/main/java/org/jmeasure/lxi/SCPICommand.java
  measure-core/src/main/java/org/jmeasure/lxi/SCPIDevice.java
  measure-core/src/main/java/org/jmeasure/lxi/SCPIDeviceFactory.java
  measure-core/src/main/java/org/jmeasure/lxi/SCPISocket.java
  measure-core/src/main/java/org/jmeasure/lxi/SCPISocketAdapter.java
  measure-core/src/main/java/org/jmeasure/lxi/SCPISocketFactory.java
  measure-core/src/main/java/org/jmeasure/lxi/factory/CompositeSCPIDeviceFactory.java
  measure-core/src/main/java/org/jmeasure/lxi/factory/CompositeSCPISocketFactory.java
  measure-core/src/main/java/org/jmeasure/lxi/factory/ISCPIDeviceFactory.java
  measure-core/src/main/java/org/jmeasure/lxi/factory/ISCPISocketFactory.java
  measure-core/src/main/java/org/jmeasure/lxi/factory/UnsupportedDeviceException.java
  measure-core/src/main/java/org/jmeasure/lxi/mock/MockSCPISocket.java
  measure-core/src/main/java/org/jmeasure/lxi/mock/OnCommand.java
  measure-core/src/main/java/org/jmeasure/lxi/socket/RawSCPISocket.java
  measure-core/src/main/java/org/jmeasure/lxi/socket/RawSCPISocketFactory.java
  measure-core/src/main/java/org/jmeasure/lxi/socket/SCPIFilter.java
  measure-core/src/main/java/org/jmeasure/lxi/socket/SCPITracer.java
  measure-core/src/test/java/org/jmeasure/lxi/SCPICommandTest.java
  measure-core/src/test/java/org/jmeasure/lxi/mock/MockSCPISocketTest.java
Labels: enhancement/core

Improved Siglent device factory class
  measure-driver-siglent/pom.xml
  measure-driver-siglent/src/main/java/org/jmeasure/siglent/SDG1000X.java
  measure-driver-siglent/src/main/java/org/jmeasure/siglent/SDS1000XE.java
  measure-driver-siglent/src/main/java/org/jmeasure/siglent/SiglentDeviceFactory.java
  measure-driver-siglent/src/main/java/org/jmeasure/siglent/mock/MockSDG1000X.java
  measure-driver-siglent/src/main/java/org/jmeasure/siglent/mock/MockSDG1032X.java
  measure-driver-siglent/src/test/java/org/jmeasure/siglent/SDG1000XMockTest.java
Labels: enhancement/driver

Created extension library Added basic samplers and signals
  measure-extension/pom.xml
  measure-extension/src/main/java/org/jmeasure/core/signal/analog/AnalogInverter.java
  measure-extension/src/main/java/org/jmeasure/core/signal/analog/ClippingSampler.java
  measure-extension/src/main/java/org/jmeasure/core/signal/analog/Sine.java
  measure-extension/src/main/java/org/jmeasure/core/signal/digital/BinaryInverter.java
  measure-extension/src/main/java/org/jmeasure/core/signal/digital/BinaryToAnalog.java
  measure-extension/src/main/java/org/jmeasure/core/signal/digital/SchmittTrigger.java
  measure-extension/src/main/java/org/jmeasure/core/signal/digital/Threshold.java
  measure-extension/src/main/java/org/jmeasure/core/signal/digital/Wiegand.java
Labels: none

Created Spring adapter Added device and socket factories
  measure-spring-adapter/pom.xml
  measure-spring-adapter/src/main/java/org/jmeasure/spring/configuration/FactoryAutoConfiguration.java
  measure-spring-adapter/src/main/resources/META-INF/spring.factories
Labels: none

CLI now uses the Spring Adapter
  measure-cli/pom.xml
  measure-cli/src/main/java/org/jmeasure/cli/DeviceConfiguration.java
  measure-cli/src/main/java/org/jmeasure/cli/scpi/SCPIService.java
  measure-cli/src/main/java/org/jmeasure/cli/scpi/SCPIShell.java
Labels: enhancement/cli

Added more in-depth documentation Added example into README Fixed Release workflow
  .github/workflows/release.yml
  .vscode/settings.json
  README.md
  doc/CLI.md
  doc/DRIVERS.md
  doc/SOCKETS.md
  pom.xml
Labels: none

OnCommand now must fully match the command Fixed typo inside SDG1000X mock
  measure-core/src/main/java/org/jmeasure/lxi/mock/MockSCPISocket.java
  measure-driver-siglent/src/main/java/org/jmeasure/siglent/mock/MockSDG1000X.java
Labels: enhancement/core, enhancement/driver

Improved stringify of device and socket classes
  measure-core/src/main/java/org/jmeasure/lxi/SCPIDevice.java
  measure-core/src/main/java/org/jmeasure/lxi/socket/RawSCPISocket.java
Labels: enhancement/core

Restructured socket implementations
  measure-cli/src/main/java/org/jmeasure/cli/scpi/SCPIShell.java
  measure-core/pom.xml
  measure-core/src/main/java/org/jmeasure/core/lxi/hislip/HiSLIPSocket.java
  measure-core/src/main/java/org/jmeasure/core/lxi/raw/RawSocket.java
  measure-core/src/main/java/org/jmeasure/core/lxi/raw/RawSocketFactory.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11Socket.java
  measure-core/src/main/java/org/jmeasure/core/serial/SerialSocket.java
  measure-core/src/main/java/org/jmeasure/core/usb/USBRawSocket.java
  measure-core/src/main/java/org/jmeasure/core/usb/USBTMCSocket.java
  measure-spring-adapter/src/main/java/org/jmeasure/spring/configuration/FactoryAutoConfiguration.java
Labels: enhancement/core, enhancement/cli

Created SCPISocketFactory Moved factories and sockets Updated auto configuration
  measure-cli/src/main/java/org/jmeasure/cli/scpi/SCPIService.java
  measure-cli/src/main/java/org/jmeasure/cli/scpi/SCPIShell.java
  measure-core/src/main/java/org/jmeasure/core/instrument/package-info.java
  measure-core/src/main/java/org/jmeasure/core/lxi/raw/RawSCPISocket.java
  measure-core/src/main/java/org/jmeasure/core/lxi/raw/RawSCPISocketFactory.java
  measure-core/src/main/java/org/jmeasure/core/lxi/raw/RawSocketFactory.java
  measure-core/src/main/java/org/jmeasure/core/scpi/ISCPIDeviceFactory.java
  measure-core/src/main/java/org/jmeasure/core/scpi/ISCPISocket.java
  measure-core/src/main/java/org/jmeasure/core/scpi/SCPIDevice.java
  measure-core/src/main/java/org/jmeasure/core/scpi/SCPISocketAdapter.java
  measure-core/src/main/java/org/jmeasure/core/scpi/adapter/SCPIFilter.java
  measure-core/src/main/java/org/jmeasure/core/scpi/adapter/SCPITracer.java
  measure-core/src/main/java/org/jmeasure/core/scpi/factory/ISCPIDeviceFactory.java
  measure-core/src/main/java/org/jmeasure/core/scpi/factory/ISCPISocketFactory.java
  measure-core/src/main/java/org/jmeasure/core/scpi/factory/SCPIDeviceFactory.java
  measure-core/src/main/java/org/jmeasure/core/scpi/factory/SCPISocketFactory.java
  measure-core/src/test/java/org/jmeasure/core/scpi/SCPIAdapterTest.java
  measure-core/src/test/java/org/jmeasure/core/signal/MockSCPISocketTest.java
  measure-driver-siglent/src/main/java/org/jmeasure/siglent/SDG1000X.java
  measure-driver-siglent/src/main/java/org/jmeasure/siglent/SDS1000XE.java
  measure-driver-siglent/src/main/java/org/jmeasure/siglent/SiglentDeviceFactory.java
  measure-spring-adapter/src/main/java/org/jmeasure/spring/configuration/FactoryAutoConfiguration.java
Labels: enhancement/core, enhancement/driver, enhancement/cli

Changed getConnectionInfo to getResourceString
  measure-cli/src/main/java/org/jmeasure/cli/scpi/SCPIShell.java
  measure-core/src/main/java/org/jmeasure/core/device/Connectable.java
  measure-core/src/main/java/org/jmeasure/core/lxi/raw/RawSCPISocket.java
  measure-core/src/main/java/org/jmeasure/core/lxi/raw/RawSocket.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11Socket.java
  measure-core/src/main/java/org/jmeasure/core/scpi/SCPISocketAdapter.java
  measure-core/src/main/java/org/jmeasure/core/scpi/adapter/SCPITracer.java
  measure-core/src/main/java/org/jmeasure/core/scpi/mock/MockSCPISocket.java
  measure-core/src/main/java/org/jmeasure/core/serial/SerialSocket.java
Labels: enhancement/core, enhancement/cli

Added issue/feature templates CI workflow won't run on doc changes Updated documentation
  .github/templates/BUG.md
  .github/templates/FEATURE_REQUEST.md
  .github/workflows/build.yml
  doc/DRIVERS.md
  doc/SOCKETS.md
  measure-core/pom.xml
  measure-core/src/main/java/org/jmeasure/core/scpi/SCPISocketAdapter.java
  measure-core/src/main/java/org/jmeasure/core/scpi/factory/SCPIDeviceFactory.java
  measure-driver-siglent/src/main/java/org/jmeasure/siglent/SDG1000X.java
Labels: enhancement/core, enhancement/driver

Added VXI11 socket and discovery support
  measure-core/src/main/java/org/jmeasure/core/lxi/LXIDiscovery.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11Discovery.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11Socket.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/portmap/Portmap.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/portmap/PortmapParams.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/portmap/PortmapResponse.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/CreateLinkParams.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/CreateLinkResponse.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceAddrFamily.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceDocmdParams.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceDocmdResponse.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceEnableSrqParams.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceError.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceErrorCode.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceFlags.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceGenericParams.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceLink.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceLockParams.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceReadParams.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceReadResponse.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceReadStbResponse.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceRemoteFunction.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceSrqParams.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceWriteParams.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceWriteResponse.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/vxi11.x
  measure-core/src/main/java/org/jmeasure/core/scpi/socket/RawSCPISocket.java
  measure-core/src/main/java/org/jmeasure/core/scpi/socket/RawSCPISocketFactory.java
  measure-core/src/main/java/org/jmeasure/core/serial/SerialSocket.java
  measure-core/src/main/java/org/jmeasure/core/serial/SerialSocketFactory.java
  measure-spring-adapter/src/main/java/org/jmeasure/spring/configuration/FactoryAutoConfiguration.java
Labels: enhancement/core

Added VXI11 cli support Fixed getDeviceIdentifier suppressing errors Added VXI11Exception type Added VXI11 error code strings
  measure-cli/src/main/java/org/jmeasure/cli/scpi/SCPIShell.java
  measure-cli/src/main/java/org/jmeasure/cli/vxi11/VXI11Shell.java
  measure-core/src/main/java/org/jmeasure/core/lxi/mdns/MDNSDiscovery.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11Discovery.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11Exception.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11Socket.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11SocketFactory.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/CreateLinkResponse.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceFlags.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceReadResponse.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/rpc/DeviceWriteResponse.java
  measure-core/src/main/java/org/jmeasure/core/scpi/ISCPISocket.java
  measure-core/src/main/java/org/jmeasure/core/scpi/adapter/SCPITracer.java
  measure-core/src/main/java/org/jmeasure/core/scpi/socket/RawSCPISocket.java
  measure-core/src/main/java/org/jmeasure/core/serial/SerialSocketFactory.java
  measure-core/src/main/java/org/jmeasure/core/visa/DeviceIdentifier.java
Labels: enhancement/core, enhancement/cli

Intermediate commit to initiate Gradle transfer
  measure-cli/src/main/java/org/jmeasure/cli/scpi/SCPIShell.java
  measure-core/src/main/java/org/jmeasure/core/instrument/TimeDomainAnalyzer.java
  measure-core/src/main/java/org/jmeasure/core/lxi/package-info.java
  measure-core/src/main/java/org/jmeasure/core/lxi/raw/RawSocket.java
  measure-core/src/main/java/org/jmeasure/core/scpi/ISCPISocket.java
  measure-core/src/main/java/org/jmeasure/core/util/Units.java
  measure-driver-siglent/src/main/java/org/jmeasure/siglent/SDS1000XE.java
  measure-driver-siglent/src/main/java/org/jmeasure/siglent/SiglentDeviceFactory.java
Labels: enhancement/core, enhancement/driver, enhancement/cli

Modifications to LXI Discovery
  measure-cli/README.md
  measure-cli/build.gradle
  measure-cli/doc/LXI-DISCOVERY.md
  measure-cli/src/main/java/org/jmeasure/cli/lxi/LXIDiscover.java
  measure-cli/src/main/java/org/jmeasure/cli/visa/VISAShell.java
  measure-core/src/main/java/org/jmeasure/core/lxi/LXIDiscovery.java
  measure-core/src/main/java/org/jmeasure/core/lxi/mdns/MDNSDiscovery.java
  measure-core/src/main/java/org/jmeasure/core/lxi/mdns/MDNSServiceType.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11Discovery.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11Socket.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11SocketFactory.java
  measure-samples/src/main/java/com/sample/DeviceDiscovery.java
Labels: enhancement/core, enhancement/cli, samples

Fixed LXIDiscovery containing duplicates
  measure-cli/src/main/java/org/jmeasure/cli/lxi/LXIDiscover.java
  measure-core/src/main/java/org/jmeasure/core/lxi/LXIDiscovery.java
  measure-core/src/main/java/org/jmeasure/core/lxi/vxi11/VXI11Discovery.java
Labels: enhancement/core, enhancement/cli

Improving LXIDiscovery CLI tool
  measure-cli/build.gradle
  measure-cli/src/main/java/org/jmeasure/cli/lxi/LXIDiscover.java
Labels: enhancement/cli

Fixing Actions build workflow
  .github/workflows/build.yml
Labels: none

Fixing Actions build workflow
  .github/workflows/build.yml
Labels: none

Fixing Actions build workflow
  gradlew
  gradlew.bat
Labels: none

Fixing Actions build workflow
  .github/workflows/build.yml
Labels: none

Archiving project
  README.md
Labels: none
